@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Montserrat", sans-serif;
}
.slick-prev,
.slick-next {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -40px;
}

.slick-prev svg,
.slick-next svg {
    width: 30px;
    height: 30px;
    fill: none;
    stroke: black;
}
